#mainwrapper {
	background-color: darkviolet;
	width: 100%;
}

#main {
	background-color: ivory;
	width: 800px;
	margin: 0 auto;
}

#tacofiedSpan {
    font-weight:bold;
    font-size: 36pt;
    color: steelblue;
}

#description {
    font-size: 9pt;
}

#yourname {
    text-align: center;
	font-size: 24pt;
}

.excited {
    color:firebrick;
    font-size: 11pt;
}

#mainheadline {
	font-size: 40pt;
}